.navbar {
  display: flex;
  justify-content: right;
  padding: 4px 32px;
  background-color: grey;
}

.navbar_container {
  display: flex;
}

.navbar_items {
  list-style: none;
  display: flex;
  gap: 16px;
}
